h3 {
    font-size: 24px;
}

.media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin: 0 auto;
  max-width: 100%;           
}


.media img {
  width: 15%;
  height: 15%;
  padding-bottom: 15px;
}
